/*@import url('./assets/fonts/fonts.css');*/
@import-normalize;


body {

  /* background-color: #000; */
  /* background-image: url('./assets/background.png'); */
  /* background-size: auto 100%; */
  /* background-position: center center; */
  /* background-repeat: no-repeat; */
  font-family: 'Inter-400', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin:0px;
  /*color: #111111;*/
  width: 100%;
  height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
